h1 {
  color: tomato;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #A3F2F2;
  border-top: 5px solid #6473C3;
  border-bottom: 5px solid #6473C3;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 5px solid #6473C3;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.notification,
.notification-content{
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;

}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 5px;
  font-style: italic
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #A3F2F2;
  border-bottom: 5px solid #6473C3;
  border-top: 5px solid #6473C3;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  color: rgb(73, 100, 104);
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}


.userCount {
  color: inherit;
  display: block;
  float: right;
  color: rgb(63, 118, 124);
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.backgroundBG {
  background-color:red
}